* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: white;
}

@media (any-hover: hover) {
  /* :hover can be used */
  /* alternative value: any-hover: none */
}

@media (any-pointer: coarse) {
  /* A pointer device such as mouse is available */
  /* alternative values: none | fine */
}

@media (min-aspect-ratio: 4/3) {
}

@media (max-aspect-ratio: 16/9) {
}

@media (aspect-ratio: 1/1) {
}

@media (color) {
  /* Supports colour! */
  /* Opposite would be @media (monochrome) {} */
}

@media (orientation: portrait) {
  /* Alternative value: landscape */
}

@media (prefers-color-scheme: dark) {
  /* Alternative value: light */
}

@media (prefers-reduced-motiion: reduce) {
  /* Reduce animations */
  /* Alternative value: no-preference */
}

@media (min-resolution: 72dpi) {
}

@media (max-resolution: 300dpi) {
}
