* {
  margin: 0;
  padding: 0;
}

:root {
  --scroll-distance: 1.5em;
  --text-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root,
  html.dark-theme {
    --text-color: #eee;
    --background-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  :root,
  html.light-theme {
    --text-color: #333;
    --background-color: #eee;
  }
}

html {
  /* c.f. https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/ */
  scroll-padding-top: var(--scroll-distance);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-padding-top: var(--scroll-distance);
}

#app {
  display: flex;
  align-items: center;
  height: 95vmin;
  width: 95vmin;
  margin: auto;
}

#app > * {
  margin: 0.5em;
}

@media (orientation: landscape) {
  #app.right-handedness {
    flex-direction: row;
  }

  #app.left-handedness {
    flex-direction: row-reverse;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 50vmin;
}

nav {
  margin-bottom: 1em;
  margin-block-end: 1em;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.nav-list__item {
  flex: 1;
  text-align: center;
  margin: 0.5em;
}

a,
a:visited {
  color: var(--text-color);
  padding: 0.5em;
  line-height: 1.6;
}

a:hover,
a:active {
  color: var(--background-color);
  background-color: var(--text-color);
}

.tab-view {
  flex: 1;
}

.tab-view:not(:target) {
  display: none;
}

.memories {
  list-style-position: inside;
  max-height: 25vmin;
  overflow-y: auto;
}

svg {
  background-color: #fff;
  flex-shrink: 0;
  display: block;
  height: 50vmin;
  width: 50vmin;
  margin-left: auto;
  margin-right: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.logo__image,
.logo__button__text {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.logo__image {
  fill: transparent;
  stroke: black;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation-name: handwrite;
}

.logo__button__text {
  fill: transparent;
  stroke: black;
}

.logo__button__text {
  animation-name: fade-in;
}

.share {
  text-align: center;
}

.hidden.world {
  display: none;
}

.background,
.middleground,
.foreground,
.mill__building,
.mill__wings,
.castle,
.speaker-avatar__pic--knight {
  fill: hsl(
    var(--hue),
    var(--saturation),
    var(--luminance)
  );
}

.three-portal,
.four-portal,
.five-portal,
.six-portal {
  fill: transparent;
  stroke-width: var(--strokeWidth);
  stroke: hsl(
    var(--hue),
    var(--saturation),
    var(--luminance)
  );
}

.table__background {
  fill: purple;
}

.sun {
  fill: gold;
}

.textbox,
.speaker-box {
  fill: hsl(
    var(--hue),
    var(--saturation),
    var(--luminance)
  );
  stroke: rgb(0, 0, 0);
  stroke-width: var(--strokeWidth);
}

.textbox__text,
.speaker-box__text {
  fill: white;
  font-family: var(--fontFamily);
}

.logo__button__text,
.table__day {
  font-size: 0.65em;
}

.textbox__text,
.speaker-box__text ,
.time {
  font-size: 0.2em;
}

.speaker-avatar__pic--narrator {
  stroke: hsl(
    var(--hue),
    var(--saturation),
    var(--luminance)
  )
}

@keyframes fade-in {
  from { fill: transparent; }
  to   { fill: black;       }
}

@keyframes handwrite {
  from { stroke-dashoffset: 1; }
  to   { stroke-dashoffset: 0; }
}

@media (any-hover: hover) {
  /* :hover can be used */
  /* alternative value: any-hover: none */
}

@media (any-pointer: coarse) {
  /* A pointer device such as mouse is available */
  /* alternative values: none | fine */
}

@media (min-aspect-ratio: 4/3) {
}

@media (max-aspect-ratio: 16/9) {
}

@media (aspect-ratio: 1/1) {
}

@media (color) {
  /* Supports colour! */
  /* Opposite would be @media (monochrome) {} */
}

@media (orientation: portrait) {
  /* Alternative value: landscape */
}

@media (prefers-reduced-motiion: reduce) {
  /* Reduce animations */
  /* Alternative value: no-preference */
}

@media (min-resolution: 72dpi) {
}

@media (max-resolution: 300dpi) {
}
